.imc-hero {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  h1 {
    font-size: 3.5em;
  }
}

.cta {
  margin: 20px 0;
  text-align: center;
  p {
    line-height: 1.4;
    margin: 20px 0;
  }
}

.cta-content {
  padding: 20px 0;
}

.cta-main-header {
  color: $lite;
  text-transform: uppercase;
}

.saving-list {
  border-top: 1px solid $lite;
  border-bottom: 1px solid $lite;
  padding: 20px 20px;
  margin: 40px 0;
  text-align: left;
  li {
    font-size: 1.6em;
    padding: 12px 0;
    list-style: disc;
    text-transform: uppercase;
  }
}

#download-text {
  font-size: 1.5em;
  padding: 20px 0;
  text-transform: uppercase;
}

.download-btn {
  font-size: 1.5em;
}