.imc-hero {
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
  h1 {
    font-size: 3em;
    span {
      background: $lite;
      color: $lead-color;
    }
  }
}

.cta {
  margin: 40px 0;
  text-align: center;
  p {
    line-height: 1.4;
    margin: 20px 0;
  }
}

.cta-content {
  background: rgba($dark, 0.9);
  padding: 60px 40px;
}

.cta-main-header {
  color: $lite;
  text-transform: uppercase;
}

.saving-list {
  border-top: 1px solid $lite;
  border-bottom: 1px solid $lite;
  font-size: 1.4em;
  padding: 10px 0;
  margin: 10px 0;
  li {
    padding: 5px 0;
  }
}

#download-text {
  padding: 20px 0;
  text-transform: uppercase;
}